{
    "extends": ["airbnb", "prettier"],
    "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-use-before-define": ["error", "nofunc"],
        "capitalized-comments": ["error", "always"]
    }
}
