{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 1 version"],
                    "safari": "9",
                    "ie": "11",
                    "ios": "9",
                    "android": "4"
                }
            }
        ],
        "@babel/react",
        "@babel/typescript"
    ],
    "env": {
        "development": {
            "plugins": [
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                "react-hot-loader/babel",
                "add-react-displayname"
            ]
        },
        "production": {}
    }
}
