@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: normal;
    src: url('./Bitter-Regular/Bitter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: bold;
    src: url('./Bitter-Bold/Bitter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: normal;
    src: url('./Bitter-Italic/Bitter-Italic.ttf') format('truetype');
}
